footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: #1E1E1E;
    padding: 50px;
}

footer h2{
    color: white;
    font-size: 20px;
}

.Redes-Pie-de-Pagina a img{
    width: 25px;
    color: #ffff;
    margin: 2px;
}